*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins', sans-serif;
}

/* Navbar */
nav{
    display:flex;
    justify-content:space-between;
    padding:20px 10%;
    background:white;
}

nav ul{
    display:flex;
    list-style:none;
}

nav ul li{
    margin-left:20px;
}

nav ul li a{
    text-decoration:none;
    color:black;
    font-weight:500;
}

.logo{
    color:#7a5cff;
}

/* Hero Section */
.hero{
    display:flex;
    align-items:center;
    justify-content:space-between;
    padding:80px 10%;
    background:linear-gradient(to right,#f5f0ff,#f8faff);
}

/* Text */
.hero-text{
    max-width:500px;
}

.hero-text h1{
    font-size:40px;
}

.hero-text span{
    color:#7a5cff;
}

.hero-text p{
    margin:20px 0;
    color:#555;
}

/* Button */
.btn{
    background:#7a5cff;
    color:white;
    padding:10px 25px;
    text-decoration:none;
    border-radius:5px;
    display:inline-block;
}

.btn:hover{
    background:#5b3ff3;
}

/* Stats */
.stats{
    display:flex;
    margin-top:30px;
}

.stats div{
    margin-right:40px;
}

.stats h3{
    color:#7a5cff;
}

/* Image */
.hero-img{
    background:white;
    padding:20px;
    border-radius:15px;
    box-shadow:0 5px 20px rgba(0,0,0,0.1);
}

.hero-img img{
    width:280px;
}

/* Responsive */
@media(max-width:768px){

.hero{
    flex-direction:column;
    text-align:center;
}

.hero-img{
    margin-top:30px;
}

.stats{
    justify-content:center;
}

}
/* General Section */
.section{
    padding:60px 10%;
}

/* Project Layout */
.project-container{
    display:flex;
    gap:20px;
    flex-wrap:wrap;
}

.project-card{
    background:white;
    padding:20px;
    border-radius:10px;
    box-shadow:0 5px 15px rgba(0,0,0,0.1);
    width:300px;
    transition:0.3s;
}

.project-card:hover{
    transform:translateY(-5px);
}

.project-card h3{
    color:#7a5cff;
    margin-bottom:10px;
}